<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="static/SmartPlug.css">
	<script src="static/sensor_manager.js"></script>
    </head>

    <body /*onload="load()"*/ >

        <div class="container">
            <header>
                <h1><a href="{{ url_for('home') }}" style="text-decoration:none;">Smart Plug Sensor Results</a></h1>
            </header>
            <div style="text-align:center;" >
                {% block body %}
                {% endblock %}
		    <div id="sensor-content">
				
			Sensor Data here
		    </div>

            </div>



        </div>
        <!-- End your code here -->
    </body>
</html>
